html{
    overflow-y: scroll;
}
:root{
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    z-index: 0;
    background-color: #d4d5e0;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
}

.top-box{
    z-index: 9999;
    margin: 0;
    padding: 0 260px;
    border: 0;
    width: 100%;
    height: 62px;
    background-color: #0082fe;
    left: 0;
    top: 0;
    position: fixed;
    display: block;
}
.logo{
    margin: 0;
    position: relative;
    width: fit-content;
    float: left;
}
.theme{
    position: relative;
    margin-left: 20px;
    width: fit-content;
    float: left;
    font-size: 12px;
}
.theme h1{
    color: white;
    font-size:24px;
    font-weight: normal;
    width: fit-content;
    float: left;
}
.set{
    margin-right: 510px;
    float: right;
    position: relative;
    width: fit-content;
    margin-top: 19px;
}
.set img{
    position: relative;
    float: right;
    width: fit-content;
}
.set-tips{
    top:-13px;
    position: relative;
    float: right;
    width: 65px;
    height: 26px;
    background-image: url("../img/set_tips.png");
}
.set-tips p{
    margin: 5% 0 0;
    font-size: 12px;
    color: #0082fe;
    text-indent: 6px;
}

.banner-box{
    z-index: 1;
    margin: 62px 0 0;
    padding: 0;
    border: 0;
    position: relative;
    left: 250px;
}

.main-box{
    z-index: 2;
    padding: 0 250px;
    border: 0;
    height: 1000px;
    display: block;
    margin: 0 0 50px;
}
.left-box{
    z-index: 3;
    margin: -105px 0 0;
    padding: 0;
    position: relative;
    width: 230px;
    max-width: 230px;
    left:0;
    float: left;
}
.user{
    width: 230px;
    height: 195px;
    margin: 0 0 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(255,255,255,0.4);
}
.user-name{
    text-align: center;
    color: #3E3E3E;
    font-size: 14px;
    margin: 15px 0 0;
}
.address-select select{
    width: 130px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #35ca3a;
    border: none;
    margin: 10px 0 0;
}
.address-select option{
    color: #444;
    background-color: white;
    height: 20px;
    text-align: left;
}
.user-handle{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
.user-handle a{
    display: inline-block;
    padding: 0 5px;
    color: #3E3E3E;
    font-size: 12px;
}
.user-handle span{
    margin: 0;
    padding: 0;
    width: 1px;
    height: 11px;
    color: #3E3E3E;
}
.signal-login{
    width: 230px;
    height: 438px;
    background-color: white;
    padding-top: 5px;
    margin-bottom: 10px;
}
.set-ico{
    position: relative;
    display: inline;
    width: 17px;
    height: 17px;
    right: 22px;
    top: -25px;
    margin-right: -6px;
}
.csu-inf{
    width: 230px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.school-notice{
    width: 230px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.middle-box{
    z-index: 3;
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% - 460px);
    max-width: calc(100% - 460px);
    float: left;
}
.right-box{
    z-index: 3;
    margin: 0;
    padding: 0;
    width: 230px;
    max-width: 230px;
    right: 239px;
    float: right;
    position: absolute;

}
.schedule{
    width: 230px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.app{
    width: 230px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.money{
    width: 230px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.footer-box{
    margin: 0;
    padding-top: 15px;
    border: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    background-color: #0082fe;
    bottom: 0;
    left: 0;
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
}
