html{
    overflow-y: scroll;
}
:root{
    overflow-y: auto;
    overflow-x: hidden;
}

.top-box{
    z-index: 9999;
    margin: 0;
    padding: 0 260px;
    border: 0;
    width: 100%;
    height: 62px;
    background-color: #0082fe;
    left: 0;
    top: 0;
    position: fixed;
    display: block;
}
.logo{
    margin: 0;
    position: relative;
    width: fit-content;
    float: left;
}
.theme{
    position: relative;
    margin-left: 20px;
    width: fit-content;
    float: left;
    font-size: 12px;
}
.theme h1{
    color: white;
    font-size:24px;
    font-weight: normal;
    width: fit-content;
    float: left;
}
.set{
    margin-right: 510px;
    float: right;
    position: relative;
    width: fit-content;
    margin-top: 19px;
}
.set img{
    position: relative;
    float: right;
    width: fit-content;
}
.set-tips{
    top:-13px;
    position: relative;
    float: right;
    width: 65px;
    height: 26px;
    background-image: url("../img/set_tips.png");
}
.set-tips p{
    margin: 5% 0 0;
    font-size: 12px;
    color: #0082fe;
    text-indent: 6px;
}

.banner-box{
    z-index: 1;
    margin: 62px 0 0;
    padding: 0;
    border: 0;
    position: relative;
    left: 250px;
}

.main-box{
    margin: 0;
    padding: 0;
    border: 0;
}
.left-box{
    margin: 0;
    padding: 0;
    left: 250px;
    position: relative;
}
.middle-box{}
.right-box{
    margin: 0;
    padding: 0;
    left: -20px;
    position: relative;
}

.footer-box{
    margin: 0;
    padding: 0;
    border: 0;

}