html{
    height: 100%;
}
body {
    background: url(../img/bg.png) no-repeat center;
    background-size: 100% 100%;
}
.logo{
    margin: 0;
    padding: 0;
    border: 0;
    top: 50px;
    left: 10%;
    position: absolute;
}
.logo img{
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 246px;
}
.logo span{
    border: 0;
    display: inline-block;
    position: absolute;
    height: 38px;
    line-height: 38px;
    top: 15px;
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
    border-left: 1px solid white;
    color: white;
    font-size: 24px;
    width: 150px;
}

.container{
    margin: 0 auto;
    padding: 0;
    right: 0;
    top: 0;
    position:fixed;
    height: 100%;
    width: 600px;
    background-color: rgba(0,0,0,0.3);
}


select{
    margin: 0 auto;
    padding: 0;
    position:fixed;
    width: 105.2px;
    height: 28.8px;
    border-radius: 5px;
    right:10%;
    top: 51px;
    background: white;
}
option{
    width: auto;
    text-align: center;
    border-radius: 4px;
}

.login{
    width: 416px;
    max-height: 531px;
    min-height: 456px;
    position: relative;
    background: white;
    border-radius: 4px;
    margin: 20% auto 0;
    padding: 0;
}
.account{

}
.username{
    position: absolute;
    display: inline;
    left: 76px;
    margin: 20px 0 0;
    width:340px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 4px;
    height: 48px;
}
.password{
    position: absolute;
    top: 25%;
    width:340px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 4px;
    height: 48px;
    margin: 0 auto;
}
.PWtoQC a{
    margin: 0 auto;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 4px;
}
.login_QC{
    text-align: center;
}
.login_QC img{
    padding: 50px;
    padding-bottom: 0;
    border: 0;
    vertical-align: baseline;
    margin: 50px auto 10px;
    width: 235px;
    height: 235px;

}
.login_QC span{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.main{
    width: calc(100% - 76px);
    padding:22px 38px;
    min-height: 360px;
    margin: 0;

}

.main span{
    width: 50%;
    border-bottom: 1px solid #2B6CDB;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
}
section{
    display: block
}
.footer{
    width: calc(100% - 64px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 58px;
    background: #F3F8FE;
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: Center;
    padding: 0 32px;
}