html{
    height: 100%;
}
body {
    background: url(../img/bg.png) no-repeat center;
    background-size: 100% 100%;
}
.logo{
    margin: 0;
    padding: 0;
    border: 0;
    top: 50px;
    left: 10%;
    position: absolute;
}
.logo img{
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 246px;
}
.logo span{
    border: 0;
    display: inline-block;
    position: absolute;
    height: 38px;
    line-height: 38px;
    top: 15px;
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
    border-left: 1px solid white;
    color: white;
    font-size: 24px;
    width: 150px;
}

.container{
    margin: 0 auto;
    padding: 0;
    right: 0;
    top: 0;
    position:fixed;
    height: 100%;
    width: 600px;
    background-color: rgba(0,0,0,0.3);
}


select{
    margin: 0 auto;
    padding: 0;
    position:fixed;
    width: 105.2px;
    height: 28.8px;
    border-radius: 5px;
    right:10%;
    top: 51px;
    background: white;
}
option{
    width: auto;
    text-align: center;
    border-radius: 4px;
}

.login{
    width: 416px;
    max-height: 531px;
    min-height: 456px;
    position: relative;
    background: white;
    border-radius: 4px;
    margin: 20% auto 0;
    padding: 0;
}

.main{
    width: calc(100% - 76px);
    padding:22px 38px;
    min-height: 360px;
    margin: 0;
    display: block
}

.head {
    width: 100%;
    z-index: 10;
    overflow: hidden;
    font-size: 12px;
    border-bottom: 1px solid #DEDEDE;
}

.head span{
    position: relative;
    text-align: center;
    width: 50%;
    line-height: 20px;
    padding: 8px 0;
    font-size: 18px;
    display: inline-block;
    float: left;
}

.account{
    border-radius: 5px;
    background: white;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


.icon-bar{
    position: absolute;
}
.icon-bar img{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.username{
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 4px;
    height: 48px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.username input{
    width: 70%;
    border: none;
    height: 48px;
    margin: 0 0 0 48px;
    outline: none;
    padding: 1px 2px;
    border: 0;
}

.password{
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 4px;
    height: 48px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.password input{
    width: 70%;
    border: none;
    height: 48px;
    margin: 0 0 0 48px;
    outline: none;
    padding: 1px 2px;
    border: 0;
}

.rememberMe{
    position: relative;
    overflow: hidden;
    margin-top: 8px;
}

.help{
    position: relative;
    margin: 12px 0 0;
    height: 26px;
    border: 0;
    padding: 0;
}

.footer{
    width: calc(100% - 64px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 58px;
    background: #F3F8FE;
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: Center;
    padding: 0 32px;
}
.ways{
    width: 60px;
    float: left;
    margin: 0;
    padding: 0;
}
.ways img{
    width: 32px;
}