<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中南大学信息门户-首页</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
<div class="top-box">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" style="width: 181px;margin-top: 8px;float: left">
    </div>
    <div class="theme">
        <h1>信息门户</h1>
    </div>
    <div class="set">
        <img src="{% static 'img/set.png' %}">
        <div class="set-tips">
            <p>版面设置</p>
        </div>
    </div>
</div>
<div class="banner-box">
    <img src="{% static 'img/banner.png' %}">
</div>
<div class="main-box">
    <div class="left-box">
        <div class="user">
            <div class="user-pic">
                <img src="{% static 'img/-pic.png' %}" style="width: 82px;height: 82px;">
            </div>
            <div class="user-name">
                {{ username }}
            </div>
            <div class="address-select">
                <select id="address">
                    <option class="address">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;空闲</option>
                    <option class="address">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作</option>
                    <option class="address">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上课</option>
                    <option class="address">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开会</option>
                </select>
            </div>
            <div class="user-handle">
                <a>个人信息</a>
                <span>|</span>
                <a>退出登录</a>
            </div>
        </div>
        <div class="signal-login">
            <img style="display: inline;position: relative;margin-left: 10px;" src="{% static 'img/login_title.png' %}">
            <i class="set-ico"><img src="{% static 'img/set_ico.png' %}"></i>
        </div>
        <div class="csu-inf">
            <img style="display: inline;position: relative;margin-left: 10px;" src="{% static 'img/cus_information.png' %}">
        </div>
        <div class="school-notice">
            <img style="display: inline;position: relative;margin-left: 10px;" src="{% static 'img/inform_title.png' %}">
        </div>
    </div>
    <div class="middle-box"></div>
    <div class="right-box">
        <div class="schedule">
            <img style="display: inline;position: relative;margin-left: 10px;" src="{% static 'img/my_schedule.png' %}">
        </div>
        <div class="app">
            <img style="display: inline;position: relative;margin-left: 10px;" src="{% static 'img/store_title.png' %}">
        </div>
        <div class="money">
            <img style="display: inline;position: relative;margin-left: 10px;" src="{% static 'img/money_title.png' %}">
        </div>
    </div>
</div>
<div class="footer-box">
    <div style="width: 100%;text-align: center;color: white;margin-top: -2px">中南大学版权所有&nbsp;&nbsp;湘ICP备05005659&nbsp;&nbsp;技术支持：0731-88830426&nbsp;&nbsp;邮箱地址：app@csu.edu.cn</div>
    <div style="width: 100%;height: 15px;background-color: #aaaab3;margin: 0;padding: 0;bottom: 0;position: absolute"></div>
</div>
</body>
</html>