<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中南大学信息门户-首页</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
<div class="top-box">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" style="width: 181px;margin-top: 8px;float: left">
    </div>
    <div class="theme">
        <h1>信息门户</h1>
    </div>
    <div class="set">
        <img src="{% static 'img/set.png' %}">
        <div class="set-tips">
            <p>版面设置</p>
        </div>
    </div>
</div>
<div class="banner-box">
    <img src="{% static 'img/banner.png' %}">
</div>
<div class="main-box">
    <div class="left-box">12313231</div>
    <div class="middle-box"></div>
    <div class="right-box">111111111111</div>
</div>
<div class="footer-box"></div>
</body>
</html>