<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>统一身份验证平台</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<!-- 左侧logo -->
<div class="logo">
    <img src="{% static 'img/logo.png' %}">
    <span>统一身份认证</span>
</div>

<!-- 右侧登录阴影区 -->
<div class="container">
    <!-- 界面语言选择 -->
    <select name="language">
        <option value="zh_CN">简体中文</option>
        <option value="en">English</option>
    </select>
    <!-- 登录区 -->
    <div class="login">
        <a href="/login_qc" class="switch"><img class="switch" src="{% static 'img/toQC.png' %}"></a>
        <section class="main">
            <div class="head">
                <span style="border：0;"><a href="/login/" style="text-decoration: none;color:#34363E ">账号登录</a></span>
                <span style="border-bottom: 2px solid #2B6CDB;"><a href="/login_DC/" style="text-decoration: none;color:#2B6CDB ;">动态码登录</a> </span>
            </div>
            <div class="login_PC">
                <div class="pwdlogindiv">
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <div class="account">
                            <div class="username">
                                <span class="icon-bar"><img src="{% static 'img/user.png' %}"> </span>
                                <input type="text" name="username" placeholder="请输入学号/工号" title="请输入学号/工号" value="">
                            </div>
                            <div class="captcha">
                                <span class="icon-bar"><img src="{% static 'img/CAPTCHA.png' %}"></span>
                                <input type="text" name="username" placeholder="请输入验证码" title="请输入验证码" maxlength="10">
                                <span class="captcha-img"><img src="{% static 'img/getCaptcha.jpg' %}" style="margin: 0;padding: 0;border: 0;right: 0;position: relative;overflow: initial"></span>
                            </div>
                            <div class="password">
                                <span class="icon-bar"><img src="{% static 'img/password.png' %}"> </span>
                                <input type="password" name="password"  placeholder="请输入短信验证码" title="请输入短信验证码">
                            </div>
                            <div class="rememberMe">
                                <input type="checkbox" name="rememberMe" id="rememberMe" value="true" style="width:15px;margin-right:5px;">
                                <span>7天免登录</span>
                            </div>
                        </div>
                        <div class="bnt" style="margin-top: 30px;">
                            <input type="submit" value="登录" style="width: 100%;height: 50px;background: #2368de;border-radius: 4px;display: block;color: #fff;text-align: center;line-height: 50px;font-size: 18px;text-decoration: none;letter-spacing: 12px;">
                        </div>
                    </form>
                </div>
                <div class="help">
                    <a title="通过手机短信、邮件方式找回密码" style="float: left;color: #73757E">忘记密码</a>
                    <div class="activation-account">
                        <a class="activation-account" style="float: right;color: #0c4af9;">账号激活</a>
                    </div>
                </div>
                <div class="help">
                    <a title="无法通过手机短信、邮件方式找回密码" style="float: left;color: #73757E">账号申诉</a>
                    <div class="activation-account">
                        <a class="activation-account" style="float: right;color: #0c4af9;">账号申请</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer">
            <p style="color: #0c4af9;min-width: 100px;float: left;margin-right: 10px">其他登录方式</p>
            <div class="ways"><img src="{% static 'img/QQ.png' %}"></div>
            <div class="ways"><img src="{% static 'img/VW.png' %}"></div>
        </div>
    </div>
</div>

</body>
</html>